<div>
    <img class="beerImg" src="/images/beer.png" alt="beer">
</div>

<div>
    <a class="link" href="/beers">Check the Beers!</a>
</div>

<div>
    <a class="link" href="/random-beers">Check a Random Beer</a>
</div>