<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
    <nav clas="navbar">
        <a class="navbarA" href="/">home</a>
        <a class="navbarA" href="/beers">Beers</a>
        <a class="navbarA" href="/random-beers">Ramdom Beers</a>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>

</html>