.navbar {
  background-color: rgba(169, 169, 169, 0.596);
  color: black;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: lightgray;
}

.navbarA {
  text-decoration: none;
}

.beerImg {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 170px;
}
